<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acccesorios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accesorios.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="logo">
                <a href="{{ url_for('home') }}">Systemic Play</a>
            </h1>
        </div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar...">
        </div>
        <nav class="opciones">

            <div class="option">
                <a href="{{ url_for('login') }}" class="option" id="auth-link">Iniciar Sesión</a>
                <a href="{{ url_for('carrito') }}" class="option">Carrito</a>
            </div>
        </nav>
    </header>

    <nav class="sub_menu">
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('consola') }}" class="dropbtn">Consolas</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('PS5') }}">PlayStation 5</a></li>
                    <li><a href="{{ url_for('PS4') }}">PlayStation 4</a></li>
                    <li><a href="{{ url_for('XBOX') }}">XBOX</a></li>
                    <li><a href="{{ url_for('NintendoSwitch') }}">Nintendo Switch</a></li>
                    <li><a href="{{ url_for('PC') }}">PC</a></li>
                </ul>
            </li>
            
            <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
            <li><a href="{{ url_for('coleccionables') }}">Coleccionables</a></li>
            <li><a href="{{ url_for('lanzamientos') }}">Próximos Lanzamientos</a></li>
        </ul>
    </nav>

    <main class="contenedor-coleccionables">
        <h1 class="titulo-coleccionables">Accesorios Consolas</h1>

        <div class="grid-productos">
            <!-- Producto 1 -->
            <article class="card-producto">
                <a href="pagina-accesorios/playportal.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio1.jpg') }}" alt="PsPortal">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>PLAYSTATION PORTAL PS5</h3>
                    <p class="categoria">Reproductor remoto PlayStation Portal</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 899.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 2 -->
            <article class="card-producto">
                <a href="pagina-accesorios/mandops5.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio2.jpg') }}" alt="MandoPs5">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>MANDO DUALSENSE PS5 <br> GALATIC PURPLE</h3>
                    <p class="categoria">Mando DualSense Wireless Controller PS5</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 249.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 3 -->
            <article class="card-producto">
                  <a href="pagina-accesorios/audifonopulse.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio3.jpg') }}" alt="AudifonoPs5">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>PS5 PLAYSTATION PULSE ELITE AUDIFONOS</h3>
                    <p class="categoria">Audífono PS5</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 349.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 4 -->
            <article class="card-producto">
                 <a href="pagina-accesorios/mandoxbox.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio4.jpg') }}" alt="MandoXbox">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>MANDO INALÁMBRICO XBOX ONE</h3>
                    <p class="categoria">Mando Xbox</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 149.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 5 -->
            <article class="card-producto">
                 <a href="pagina-accesorios/estucheswitch2.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio5.jpg') }}" alt="EstucheSwitch">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>ESTUCHE RÍGIDO DE VIAJERO NINTENDO SWITCH 2</h3>
                    <p class="categoria">Accesorio Nintendo Switch 2</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 39.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 6 -->
            <article class="card-producto">
                 <a href="pagina-accesorios/joycons2.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio6.jpg') }}" alt="MandoSwitch">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>JOY-CON NINTENDO SWITCH 2</h3>
                    <p class="categoria">Joy-cons   </p>
                    <div class="precio-fila">
                        <span class="precio">S/ 249.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 7 -->
            <article class="card-producto">
                 <a href="pagina-accesorios/combologihtch.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio7.jpg') }}" alt="Combo_Logitech">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>COMBO LOGITECH MK270 TECLADO Y MOUSE</h3>
                    <p class="categoria">Logitech</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 119.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 8 -->
            <article class="card-producto">
                 <a href="pagina-accesorios/audifonog321.html">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/accesorio8.jpg') }}" alt="AudifonoLogitech">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>LOGITECH G321 LIGHTSPEED AUDÍFONOS -    NEGRO</h3>
                    <p class="categoria">Auriculares</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 129.90</span>
                        <button class="btn-carrito">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
                </a>
            </article>
        </div>
    </main> 


    <script src="{{ url_for('static', filename='js/script.js') }}?v=1.0"></script>
</body>
</html>