<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acccesorios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1 class="logo">
                <a href="{{ url_for('home') }}">Systemic Play</a>
            </h1>
        </div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar...">
        </div>
        <nav class="opciones">

            <div class="option">
                <a href="{{ url_for('login') }}" class="option" id="auth-link">Iniciar Sesión</a>
                <a href="{{ url_for('carrito') }}" class="option">Carrito</a>
            </div>
        </nav>
    </header>

    <nav class="sub_menu">
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('consola') }}" class="dropbtn">Consolas</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('PS5') }}">PlayStation 5</a></li>
                    <li><a href="{{ url_for('PS4') }}">PlayStation 4</a></li>
                    <li><a href="{{ url_for('XBOX') }}">XBOX</a></li>
                    <li><a href="{{ url_for('NintendoSwitch') }}">Nintendo Switch</a></li>
                    <li><a href="{{ url_for('PC') }}">PC</a></li>
                </ul>
            </li>
            
            <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
            <li><a href="{{ url_for('coleccionables') }}">Coleccionables</a></li>
            <li><a href="{{ url_for('lanzamientos') }}">Próximos Lanzamientos</a></li>
        </ul>
    </nav>

    <main id="contenedor-dinamico" class="contenedor-cesta">
        <h2 class="titulo-seccion">Cesta</h2>
    
        <div class="cesta-layout">
            <div class="articulos-col">
                <table class="tabla-cesta">
                    <thead>
                        <tr>
                            <th>ARTÍCULO</th>
                            <th>PRECIO</th>
                            <th>CANT.</th>
                            <th>SUBTOTAL</th>
                        </tr>
                    </thead>
                    <tbody id="items-carrito">
                        <!-- Los productos se cargarán aquí dinámicamente -->
                    </tbody>
                </table>
            <!--
                <div class="acciones-carrito">
                    <button class="btn-secundario">ACTUALIZAR CARRITO</button>
                </div>
            -->
                
            </div>

            <aside class="resumen-pedido">
                <h3>RESUMEN</h3>
                <div class="linea-resumen">
                    <span>Subtotal</span>
                    <span id="subtotal-valor">S/ 0.00</span>
                </div>
                <div class="linea-resumen">
                    <span>Envío</span>
                    <span>Gratis</span>
                </div>
                <div class="total-pedido">
                    <span>Total del pedido</span>
                    <span id="total-valor">S/ 0.00</span>
                </div>
                <button class="btn-realizar-pedido">REALIZAR PEDIDO <i class="fa-solid fa-arrow-right"></i></button>
            </aside>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}?v=1.0"></script>
</body>
</html>