<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleccionables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coleccionables.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">Systemic Play</a>
        </div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar...">
        </div>
        
        <div class="opciones">
            {% if current_user.is_authenticated %}
                
                {% if current_user.email == 'admin@systemic.com' %}
                    <a href="{{ url_for('panel_admin') }}" style="color: #f59e0b; font-weight: bold; margin-right: 15px;">Panel Admin</a>
                    <span style="color: #f59e0b; font-weight: bold; margin-right: 15px;">Hola, Admin</span>
                {% else %}
                    <span style="color: #3b82f6; font-weight: bold; margin-right: 15px;">
                        Hola, {{ current_user.nombre }}
                    </span>
                {% endif %}
                
                <a href="{{ url_for('logout') }}">Cerrar Sesión</a> 

            {% else %}
                <a href="{{ url_for('login') }}">Iniciar Sesión</a>
            {% endif %}
            
            <a href="{{ url_for('carrito') }}" class="option">Carrito</a>
        </div>
    </header>

    <nav class="sub_menu">
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('consola') }}" class="dropbtn">Consolas</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('PS5') }}">PlayStation 5</a></li>
                    <li><a href="{{ url_for('PS4') }}">PlayStation 4</a></li>
                    <li><a href="{{ url_for('XBOX') }}">XBOX</a></li>
                    <li><a href="{{ url_for('NintendoSwitch') }}">Nintendo Switch</a></li>
                    <li><a href="{{ url_for('PC') }}">PC</a></li>
                </ul>
            </li>
            
            <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
            <li><a href="{{ url_for('coleccionables') }}">Coleccionables</a></li>
            <li><a href="{{ url_for('lanzamientos') }}">Próximos Lanzamientos</a></li>
        </ul>
    </nav>

    <main class="contenedor-coleccionables">
        <h1 class="titulo-coleccionables">Coleccionables Exclusivos</h1>

        <div class="grid-productos">
            <!-- Producto 1 -->
            <article class="card-producto">
                <a href="{{ url_for('FiguraGoku') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable1.jpg') }}" alt="Figura_Goku">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>FIGURA BANDAI GOKU ULTRA INSTINTO</h3>
                    <p class="categoria">Figuras de Acción</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 99.90</span>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 2 -->
            <article class="card-producto">
                 <a href="{{ url_for('FiguraTeach') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable2.jpg') }}" alt="Figura_Teach">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>FIGURA BANDAI ONE PIECE DXF THE GRANDLINE SERIES SPECIAL TEACH</h3>
                    <p class="categoria">Figura de Acción</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 99.90</span>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 3 -->
            <article class="card-producto">
                 <a href="{{ url_for('FiguraLuffy') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable3.jpg') }}" alt="Figura_Luffy">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>FIGURA BANDAI ONE PIECE MONKEY D. LUFFY</h3>
                    <p class="categoria">Figura de Acción</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 119.00</span>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 4 -->
            <article class="card-producto">
                <a href="{{ url_for('FiguraChewbaca') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable4.jpg') }}" alt="Figura_Chewbacca">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>FIGURA STAR WARS CHEWBACA</h3>
                    <p class="categoria">Figura de Acción</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 199.90</span>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 5 -->
            <article class="card-producto">
                <a href="{{ url_for('FiguraSpiderman') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable5.jpg') }}" alt="Funko_Spiderman">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>FUNKO POP MARVEL <br>SPIDER-MAN OSCORP SUIT</h3>
                    <p class="categoria">Funko Pop</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 79.00</span>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 6 -->
            <article class="card-producto">
                <a href="{{ url_for('FiguraMessi') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable6.jpg') }}" alt="Funko_Messi">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>FUNKO POP <br>LIONEL MESSI N°1</h3>
                    <p class="categoria">Funko Pop</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 89.00</span>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 7 -->
            <article class="card-producto">
                <a href="{{ url_for('FiguraYoshi') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable7.jpg') }}" alt="Figura_Yoshi">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>FIGURA SUPER MARIO LET'S GO - YOSHI!</h3>
                    <p class="categoria">Funko Pop</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 299.00</span>
                    </div>
                </div>
                </a>
            </article>

            <!-- Producto 8 -->
            <article class="card-producto">
                  <a href="{{ url_for('FiguraPokemon') }}">
                <div class="imagen-producto">
                    <img src="{{ url_for('static', filename='img/coleccionable8.jpg') }}" alt="Caja_Pokemon">
                    <span class="etiqueta-nuevo">Nuevo</span>
                </div>
                <div class="info-producto">
                    <h3>POKÉMON TCG - CAJA DE ENTRENADOR DE ÉLITE</h3>
                    <p class="categoria">Funko Pop</p>
                    <div class="precio-fila">
                        <span class="precio">S/ 279.00</span>
                    </div>
                </div>
                </a>
            </article>
        </div>
    </main>

    <a href="https://wa.me/51958310320?text=Hola,%20tengo%20una%20consulta%20sobre%20sus%20productos" target="_blank" style="text-decoration: none; color: inherit;">
        <div class="contacto_flotante">
            <div class="icono_chat">
                <img src="{{ url_for('static', filename='img/WhatsApp.webp') }}" alt="WhatsApp"> 
            </div>
            <span class="texto_contacto">Comunícate con Nosotros</span>
        </div>
    </a>

    <footer>
        <p>&copy; 2026 Systemic Play</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}?v=1.0"></script>
</body>
</html>