<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTUCHE RÍGIDO DE VIAJERO NINTENDO SWITCH 2</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_juego.css') }}">
   <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
</head>
<body>
   <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">Systemic Play</a>
        </div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="opciones">
            {% if current_user.is_authenticated %}
                <span style="color: #3b82f6; font-weight: bold; margin-right: 15px;">
                    Hola, {{ current_user.nombre }}
                </span>
            {% else %}
                <a href="{{ url_for('login') }}">Iniciar Sesión</a>
            {% endif %}
            
            <a href="{{ url_for('carrito') }}" class="option">Carrito</a>
        </div>
    </header>

    <nav class="sub_menu">
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('consola') }}" class="dropbtn">Consolas</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('PS5') }}">PlayStation 5</a></li>
                    <li><a href="{{ url_for('PS4') }}">PlayStation 4</a></li>
                    <li><a href="{{ url_for('XBOX') }}">XBOX</a></li>
                    <li><a href="{{ url_for('NintendoSwitch') }}">Nintendo Switch</a></li>
                    <li><a href="{{ url_for('PC') }}">PC</a></li>
                </ul>
            </li>
            
            <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
            <li><a href="{{ url_for('coleccionables') }}">Coleccionables</a></li>
            <li><a href="{{ url_for('lanzamientos') }}">Próximos Lanzamientos</a></li>
        </ul>
    </nav>


    <main class="contenedor_detalle">
        <div class="tarjeta_juego">
            
            <div class="slider-container">
                <div class="slider-wrapper">
                    <img src="{{ url_for('static', filename='img/accesorio5.jpg') }}" class="slide" alt="Diablo IV 1">
                    <img src="{{ url_for('static', filename='img/juego_estuche1.jpg') }}" class="slide" alt="Diablo IV 2">
                    <img src="{{ url_for('static', filename='img/juego_estuche2.jpg') }}" class="slide" alt="Diablo IV 3">
                </div>
                
                <button class="flecha flecha_izq" onclick="cambiarSlide(-1, '.slider-wrapper', '.slider-wrapper .slide')">◀</button>
                <button class="flecha flecha_der" onclick="cambiarSlide(+1, '.slider-wrapper', '.slider-wrapper .slide')">▶</button>
                
                <span class="etiqueta_descuento">-60%</span>
            </div>

            <div class="col-info">
                <h2 class="titulo_juego">ESTUCHE RÍGIDO DE VIAJERO NINTENDO SWITCH 2</h2>
                
                <div class="descripcion">
                    <p>Estuche de transporte para Nintendo Switch: ofrece una protección segura 
                        gracias a su carcasa rígida de EVA y espuma interna de alta densidad que evita golpes y movimientos. 
                        Cuenta con gran capacidad para almacenar la consola, base, controles, juegos y accesorios, manteniéndolos 
                        organizados mediante compartimentos y bolsillos internos. Su diseño resistente, junto con el asa y la correa 
                        ajustable, facilita el transporte durante viajes o desplazamientos.</p>
                </div>

                <div class="caracteristicas">
                    <h3>Características Principales</h3>
                    <ul>
                        <li>Protección superior: Carcasa rígida de EVA o poliuretano de alta densidad para evitar daños por caídas, golpes y rayones.</li>
                        <li>Ajuste preciso: Diseño moldeado con inserción inferior empotrada para asegurar la consola y los mandos en su lugar mientras te desplazas.</li>
                        <li>Ranuras dedicadas para múltiples cartuchos de juegos (comúnmente entre 8 y 12).</li>
                        <li>Accesorios de transporte: Incluyen asas ergonómicas y, en algunos modelos, correas ajustables para llevarlo al hombro o en la muñeca.</li>
                    </ul>
                </div>

                <div class="info_inferior">
                    <div class="contenedor-precios">
                        <!-- Columna 1 -->
                        <div class="col-precio">
                            <span class="label-precio">Precio Antes:</span>
                            <span class="precio_antes">S/ 188.90</span>
                        </div>
                        <!-- Columna 2 -->
                        <div class="col-precio">
                            <span class="label-precio">Precio Ahora:</span>
                            <span class="precio_ahora">S/ 89.90</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <a href="https://wa.me/51958310320?text=Hola,%20tengo%20una%20consulta%20sobre%20sus%20productos" target="_blank" style="text-decoration: none; color: inherit;">
        <div class="contacto_flotante">
            <div class="icono_chat">
                <img src="{{ url_for('static', filename='img/WhatsApp.webp') }}" alt="WhatsApp"> 
            </div>
            <span class="texto_contacto">Comunícate con Nosotros</span>
        </div>
    </a>

    <footer>
        <p>&copy; 2026 Systemic Play</p>
    </footer>


<script src="{{ url_for('static', filename='js/script.js') }}?v=1.0"></script>
</body>
</html>