<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOY-CON NINTENDO SWITCH 2</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_juego.css') }}">
   <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
</head>
<body>
   <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">Systemic Play</a>
        </div>
        <div class="busqueda">
            <form action="{{ url_for('buscar') }}" method="GET">
                <input type="text" name="q" placeholder="Buscar..." required>
                <button type="submit" style="display:none;">Buscar</button>
            </form>
        </div>
        <div class="opciones">
            {% if current_user.is_authenticated %}
                <span style="color: #3b82f6; font-weight: bold; margin-right: 15px;">
                    Hola, {{ current_user.nombre }}
                </span>
            {% else %}
                <a href="{{ url_for('login') }}">Iniciar Sesión</a>
            {% endif %}
            
            <a href="{{ url_for('carrito') }}" class="option">Carrito</a>
        </div>
    </header>

    <nav class="sub_menu">
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('consola') }}" class="dropbtn">Consolas</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('PS5') }}">PlayStation 5</a></li>
                    <li><a href="{{ url_for('PS4') }}">PlayStation 4</a></li>
                    <li><a href="{{ url_for('XBOX') }}">XBOX</a></li>
                    <li><a href="{{ url_for('NintendoSwitch') }}">Nintendo Switch</a></li>
                    <li><a href="{{ url_for('PC') }}">PC</a></li>
                </ul>
            </li>
            
            <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
            <li><a href="{{ url_for('coleccionables') }}">Coleccionables</a></li>
            <li><a href="{{ url_for('lanzamientos') }}">Próximos Lanzamientos</a></li>
        </ul>
    </nav>


    <main class="contenedor_detalle">
        <div class="tarjeta_juego">
            
            <div class="slider-container">
                <div class="slider-wrapper">
                    <img src="{{ url_for('static', filename='img/accesorio6.jpg') }}" class="slide" alt="Diablo IV 1">
                    <img src="{{ url_for('static', filename='img/juego_joycon1.jpg') }}" class="slide" alt="Diablo IV 2">
                    <img src="{{ url_for('static', filename='img/juego_joycon2.jpg') }}" class="slide" alt="Diablo IV 3">
                </div>
                
                <button class="flecha flecha_izq" onclick="cambiarSlide(-1, '.slider-wrapper', '.slider-wrapper .slide')">◀</button>
                <button class="flecha flecha_der" onclick="cambiarSlide(+1, '.slider-wrapper', '.slider-wrapper .slide')">▶</button>
                
                <span class="etiqueta_descuento">-60%</span>
            </div>

            <div class="col-info">
                <h2 class="titulo_juego">JOY-CON NINTENDO SWITCH 2</h2>
                
                <div class="descripcion">
                    <p>Conoce los nuevos Joy-Con 2, diseñados para acoplarse y desacoplarse con facilidad. Imanes fuertes mantienen los controles 
                        firmemente sujetos al sistema. Simplemente presiona el botón de liberación en la parte trasera para desactivar el bloqueo magnético, 
                        ¡y listo! <br><br>
                        Controles de mouse suaves con Joy-Con 2: <br>
                        El sensor de mouse en el lateral de cada Joy-Con 2 permite convertir superficies como una mesa o tu regazo en un panel táctil. <br>
                        Ambos Joy-Con 2 pueden usarse simultáneamente para controlar el mouse, lo que abre nuevas formas de jugar, como utilizar ambas manos para 
                        manejar dos controles de mouse al mismo tiempo.</p>
                </div>

                <div class="caracteristicas">
                    <h3>Características Principales</h3>
                    <ul>
                        <li>Diseño y Sujeción: Se acoplan a la consola o soporte mediante un sistema magnético, dejando atrás los rieles deslizables, y cuentan con un botón trasero para liberarlos fácilmente</li>
                        <li>Nuevo Botón C: Ubicado debajo del botón Home en el Joy-Con derecho, permite acceder de forma rápida a menús de comunicación por voz o GameChat en juegos compatibles</li>
                        <li>Modo Mouse: Ambos controles integran un nuevo sensor que les permite actuar como un ratón, utilizando los gatillos como clics en títulos compatibles.</li>
                        <li>Correas Integradas: Los botones superiores (SL y SR) son más grandes para facilitar su uso horizontal. La correa ya viene integrada en el mando, eliminando la necesidad del adaptador por separado.</li>
                    </ul>
                </div>

                <div class="info_inferior">
                    <div class="contenedor-precios">
                        <!-- Columna 1 -->
                        <div class="col-precio">
                            <span class="label-precio">Precio Antes:</span>
                            <span class="precio_antes">S/ 299.00</span>
                        </div>
                        <!-- Columna 2 -->
                        <div class="col-precio">
                            <span class="label-precio">Precio Ahora:</span>
                            <span class="precio_ahora">S/ 249.90</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <a href="https://wa.me/51958310320?text=Hola,%20tengo%20una%20consulta%20sobre%20sus%20productos" target="_blank" style="text-decoration: none; color: inherit;">
        <div class="contacto_flotante">
            <div class="icono_chat">
                <img src="{{ url_for('static', filename='img/WhatsApp.webp') }}" alt="WhatsApp"> 
            </div>
            <span class="texto_contacto">Comunícate con Nosotros</span>
        </div>
    </a>

    <footer>
        <p>&copy; 2026 Systemic Play</p>
    </footer>


<script src="{{ url_for('static', filename='js/script.js') }}?v=1.0"></script>
</body>
</html>