<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">   
</head>
<body>

    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">Systemic Play</a>
        </div>
        <div class="busqueda">
            <form action="{{ url_for('buscar') }}" method="GET">
                <input type="text" name="q" placeholder="Buscar..." required>
                <button type="submit" style="display:none;">Buscar</button>
            </form>
        </div>
        <div class="opciones">
            {% if current_user.is_authenticated %}
                <span style="color: #3b82f6; font-weight: bold; margin-right: 15px;">
                    Hola, {{ current_user.nombre }}
                </span>
            {% else %}
                <a href="{{ url_for('login') }}">Iniciar Sesión</a>
            {% endif %}
            
            <a href="{{ url_for('carrito') }}" class="option">Carrito</a>
        </div>
    </header>

    
    <nav class="sub_menu">
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('consola') }}" class="dropbtn">Consolas</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('PS5') }}">PlayStation 5</a></li>
                    <li><a href="{{ url_for('PS4') }}">PlayStation 4</a></li>
                    <li><a href="{{ url_for('XBOX') }}">XBOX</a></li>
                    <li><a href="{{ url_for('NintendoSwitch') }}">Nintendo Switch</a></li>
                    <li><a href="{{ url_for('PC') }}">PC</a></li>
                </ul>
            </li>
            
            <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
            <li><a href="{{ url_for('coleccionables') }}">Coleccionables</a></li>
            <li><a href="{{ url_for('lanzamientos') }}">Próximos Lanzamientos</a></li>
        </ul>
    </nav>

    <main class="contenedor-login">
        <div class="caja-login">
            <h1>Crear Cuenta</h1>
                <form action="{{ url_for('registro') }}" method="POST">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                    <input type="text" name="apellido" placeholder="Apellido" required>
                    <input type="email" name="email" placeholder="Correo electrónico" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <button type="submit">REGISTRARSE</button>
                </form>
            <p>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}?v=1.0"></script>
</body>
</html>